{% extends 'base.html.twig' %}

{% block title %}Hello ViewController!{% endblock %}

{% block body %}
<h1>Hello {{d}}!</h1>
<h1>{{user.name}}!</h1>
<ul>
    <li>{{a[0]}}</li>
    <li>{{a[1]}}</li>
    <li>{{a[2]}}</li>
</ul>

{% endblock %}
